p {
    font-size: 20px;
    background-color: aqua;
}
style{
    img{
        width: 100px;
        height: 150px;
        margin-left: 250px;
    }
    div{
        background-color: aqua;
        padding-left: 30px;
        margin-right: 50px;
    }
}
